
body{
    font-family: 'Poppins', sans-serif;
    background-color: crimson;
}

html::before{
    content: "";
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: crimson;
}

h1{
    color: #fff;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}

.navbar-brand:hover {
    /* Adicione a animação desejada quando o mouse estiver sobre a marca da navbar */
    color: gray;
  }

.navbar-brand{
    font-size: 17px;
    font-weight: 600;
}


.text-center {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .col-md{
        text-align: center;
    }

    .col-md{
        margin-bottom: 8px;
    }
}

.navbar {
    background-color: transparent; /* Define o fundo da navbar como transparente */
    padding: 2px;
}

.navbar-brand img {
    max-width: 55px; /* Ajuste o tamanho máximo da logo (altere o tamanho conforme necessário) */
    height: auto; /* Mantém a proporção original da imagem */
}